<% layout("/layouts/boilerplate") %>


<body>          

                <div class="row">
                    <div class="col-8 offset-2 mt-3">

                    
                <h3>listing details :</h3> 
                <div class="card listing-card" >
                    <img class="card-img-top show-img" src="<%= data.image.url %>" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text"> Own by : <%= data.owner ? data.owner.username : 'Raj' %>  </p>
                    </div>
                  </div>
                </div>
            </div>
                
            </ul>
                     <li>Title : <%= data.title %> </li>
                 <li> description : <%= data.description %> </li>
                    <!-- <li class="image"> 
                          <img src="<%= data.image.url %>" >
                    </li> -->
                    <% if (data.price !== undefined && data.price !== null) { %>
                    <li >price : &#8377; <%= data.price.toLocaleString("en-IN") %> </li>
                    <% } %>
                    <li> location : <%= data.location %> </li>
                    <li> country : <%= data.country %> </li>
                
              <ul> 
                <br>

                <% if(currentuser && data.owner && currentuser._id.equals(data.owner._id)){ %>
                  <div class="btns">
                    <a href="/listings/<%= data._id %>/edit" class="btn edit-btn">Edit</a>
                    <form action="/listings/<%= data._id %>?_method=Delete" method="post" ><button type="submit" class="btn btn-dark">Delete</button></form>
                  </div>
                  <% } %>

                  <br><br><br>
                <div class="map-container">
                  <div id="map-container" style="width: 600px; height: 450px;">
                    <!-- dynamically importing the iframe into it  -->
                  </div>
                </div>
              

                
                  
                  



                 <hr>
                    
        <!-- reviews -->          
                <div class="col-8 offset-2 mt-4">
                       <h4>Write a review</h4>
                           <form action="/listings/<%= data._id %>/review" method="post" novalidate class="needs-validation">
                                   <div>
                                    <label for="rating" class="form-label">Rating</label>
                                    <input type="range" name="review[rating]" min="1" max="5" class="form-control form-range" >             
                                   </div>

                                   <div>
                                      <label for="comment" class="form-label">Comment</label>
                                      <textarea name="review[comment]" placeholder="write a comment" class="form-control" required ></textarea>   
                                      <div class="invalid-feedback ">enter valid review</div>        
                                   </div>
                                   <button class="offset-5">Submit</button>

                           </form>
   
                           <h5>All reviews</h5>

                            <% for(review of data.reviews){  %>
                            <div class="card ">
                              <div class="card-body">
                                <h5 class="card-title">@<%= review.author.username %></h5>
                                <p class="card-text"><%= review.comment %></p>
                                <p class="card-text"><%= review.rating %></p>
                                <form action="/listings/<%= data._id %>/review/<%= review._id %>?_method=Delete" method="post"><button class="btn btn-dark">Delete</button></form>

                              </div>
                            </div>
                            <% } %>
                </div>
                  
                <script src="/js/map.js"></script>
                
               <!-- <script>
                 const city = "<%= data.location %>";
                   console.log(city);
                 // Calling the function to fetch the bounding box and display the map
                    getBoundingBox(city);
               </script>      -->
               <script>
                const city = "<%= data.location %>";
                // Calling the function to fetch the bounding box and display the map with marker
                getBoundingBox(city);
                 </script>
               
               

</body>
